@model Odontogest.Models.Inventory

@{
    ViewData["Title"] = "Create";
    Layout = null;
    //var path = "~/Images/Inventory/";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="~/plugins/images/favicon.png">
    <title>GestShop</title>
    <!-- ===== Bootstrap CSS ===== -->
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- ===== Plugin CSS ===== -->
    <link href="~/plugins/components/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="~/plugins/components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <link href="~/less/responsive.less" rel="stylesheet" />
    <link href="~/plugins/components/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/plugins/components/dropify/dist/css/dropify.min.css">
    <!-- ===== Animation CSS ===== -->
    <link href="/css/animate.css" rel="stylesheet">
    <!-- ===== Custom CSS ===== -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- ===== Color CSS ===== -->
    <link href="/css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="mini-sidebar">
    <!-- ===== Main-Wrapper ===== -->
    <div id="wrapper">
        <div class="preloader">
            <div class="cssload-speeding-wheel"></div>
        </div>
        <!-- ===== Top-Navigation ===== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <a class="navbar-toggle font-20 hidden-sm hidden-md hidden-lg " href="#" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="top-left-part">
                    <a class="logo" href="index.html">
                        <b>
                            <img src="~/plugins/images/logo.png" alt="home" />
                        </b>
                        <span>
                            <img src="~/plugins/images/logo-text.png" alt="homepage" class="dark-logo" />
                        </span>
                    </a>
                </div>
                <ul class="nav navbar-top-links navbar-left hidden-xs">
                    <li>
                        <a href="#" class="sidebartoggler font-20 waves-effect waves-light"><i class="icon-arrow-left-circle"></i></a>
                    </li>
                    <li>
                        <form role="search" class="app-search hidden-xs">
                            <i class="icon-magnifier"></i>
                            <input type="text" placeholder="Buscar..." class="form-control">
                        </form>
                    </li>
                </ul>
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle waves-effect waves-light font-20" data-toggle="dropdown" href="#">
                            <i class="icon-speech"></i>
                            <span class="badge badge-xs badge-danger">6</span>
                        </a>
                        <ul class="dropdown-menu mailbox animated bounceInDown">
                            <li>
                                <div class="drop-title">Tienes 4 mensajes nuevos</div>
                            </li>
                            <li>
                                <div class="message-center">
                                    <a href="#">
                                        <div class="user-img">
                                            <img src="../plugins/images/users/1.jpg" alt="user" class="img-circle">
                                            <span class="profile-status online pull-right"></span>
                                        </div>
                                        <div class="mail-contnet">
                                            <h5>Pavan kumar</h5>
                                            <span class="mail-desc">Just see the my admin!</span>
                                            <span class="time">9:30 AM</span>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="user-img">
                                            <img src="../plugins/images/users/2.jpg" alt="user" class="img-circle">
                                            <span class="profile-status busy pull-right"></span>
                                        </div>
                                        <div class="mail-contnet">
                                            <h5>Sonu Nigam</h5>
                                            <span class="mail-desc">I've sung a song! See you at</span>
                                            <span class="time">9:10 AM</span>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="user-img">
                                            <img src="~/plugins/images/users/3.jpg" alt="user" class="img-circle"><span class="profile-status away pull-right"></span>
                                        </div>
                                        <div class="mail-contnet">
                                            <h5>Arijit Sinh</h5>
                                            <span class="mail-desc">I am a singer!</span>
                                            <span class="time">9:08 AM</span>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="user-img">
                                            <img src="../plugins/images/users/4.jpg" alt="user" class="img-circle">
                                            <span class="profile-status offline pull-right"></span>
                                        </div>
                                        <div class="mail-contnet">
                                            <h5>Pavan kumar</h5>
                                            <span class="mail-desc">Just see the my admin!</span>
                                            <span class="time">9:02 AM</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a class="text-center" href="#">
                                    <strong>See all notifications</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- ===== Top-Navigation-End ===== -->
        <!-- ===== Left-Sidebar ===== -->
        <aside class="sidebar">
            <div class="scroll-sidebar">
                <div class="user-profile">
                    <div class="dropdown user-pro-body">
                        <div class="profile-image">
                            <img src="../plugins/images/users/hanna.jpg" alt="user-img" class="img-circle">
                            <a href="#" class="dropdown-toggle u-dropdown text-blue" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="badge badge-danger">
                                    <i class="fa fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated flipInY">
                                <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href=""><i class="fa fa-power-off"></i> Cerrar Sesiòn</a></li>
                            </ul>
                        </div>
                        <p class="profile-text m-t-15 font-16"><a href="#"> Hanna Gover</a></p>
                    </div>
                </div>
                <nav class="sidebar-nav">
                    <ul id="side-menu">
                        <li>
                            <a class="waves-effect" asp-controller="Inventory" asp-action="ListInventory" aria-expanded="false">
                                <i class=" icon-user-following fa-fw"></i> <span class="hide-menu">
                                    Inventario
                                </span>
                            </a>

                        </li>
                        <li>
                            <a class="waves-effect" asp-controller="Store" asp-action="ListStores" aria-expanded="false">
                                <i class=" icon-chemistry  fa-fw"></i> <span class="hide-menu"> Store </span>
                            </a>

                        </li>
                        <li>
                            <a class="waves-effect" asp-controller="Category" asp-action="ListCategory" aria-expanded="false">
                                <i class="  icon-note fa-fw"></i> <span class="hide-menu">
                                    Category
                                </span>
                            </a>

                        </li>
                        <li>
                            <a class="waves-effect" href="#" aria-expanded="false"><i class=" icon-tag fa-fw"></i> <span class="hide-menu"> Productos </span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li> <a href="inventario.html">Inventario</a> </li>
                                <li> <a href="minventario.html">Movimiento Inventario</a> </li>
                                <li> <a href="almacen.html">Almacen</a> </li>
                                <li> <a href="proveedores.html">Proveedores</a> </li>
                            </ul>
                        </li>

                        <li>
                            <a class="waves-effect" href="info.html" aria-expanded="false">
                                <i class=" icon-info fa-fw"></i> <span class="hide-menu"> Informacion </span>
                            </a>

                        </li>

                        <li>
                            <a class="waves-effect" href="#" aria-expanded="false">
                                <i class=" icon-support fa-fw"></i>
                                <span class="hide-menu">Administración Odontogest</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li> <a href="logincliente.html">Clientes</a> </li>
                                <li> <a href="pclientes.html">Planes</a> </li>
                                <li> <a href="indicarservicio.html">Servicios</a> </li>
                                <li> <a href="logincliente.html">Cuidades</a> </li>
                                <li> <a href="pclientes.html">Provincias</a> </li>
                                <li> <a href="indicarservicio.html">Daños</a> </li>
                                <li> <a href="indicarservicio.html">Dientes</a> </li>
                                <li> <a href="indicarservicio.html">Categoria de Servicios</a> </li>
                                <li> <a href="indicarservicio.html">Aseguradoras</a> </li>
                                <li> <a href="indicarservicio.html">Backup</a> </li>
                            </ul>

                        <li>
                        <li>
                            <a class="waves-effect" href="#" aria-expanded="false">
                                <i class="  icon-pie-chart fa-fw"></i>
                                <span class="hide-menu">Reportes Odontogest</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li> <a href="logincliente.html">Reporte de Clientes</a> </li>
                                <li> <a href="pclientes.html">Reporte de Pagos</a> </li>
                                <li> <a href="indicarservicio.html">Cuenta por cobrar</a> </li>
                                <li> <a href="logincliente.html">Reporte de Cumpleaños</a> </li>
                                <li> <a href="pclientes.html">Reporte de Planes</a> </li>
                                <li> <a href="indicarservicio.html">Estado de cuenta</a> </li>
                                <li> <a href="indicarservicio.html">Facturas con comprobantes</a> </li>
                            </ul>

                        <li>

                    </ul>
                </nav>


            </div>
        </aside>
        <!-- ===== Left-Sidebar-End ===== -->
        <!-- ===== Page-Content ===== -->
        <div class="page-wrapper">
            <!-- ===== Page-Container ===== -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 t-a-r">
                        <a class="btn btn-info align-content-end m-t-10" asp-action="ListInventory">Regresar</a>
                    </div>
                </div>
                <!-- sample modal content -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="">
                            <div class="" aria-expanded="true">
                                <div class="">
                                    <form asp-action="AddorEdit" enctype="multipart/form-data">
                                        <div class="form-body">
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Nombre del producto</label>
                                                        <input type="text" asp-for="NameInventory" class="form-control">
                                                        <span class="text-danger" asp-validation-for="NameInventory"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Categoría</label>
                                                        <select asp-for="FkCategory" class="form-control"
                                                                asp-items="ViewBag.IdCategory">
                                                            <option value="">--- Select Category ---</option>
                                                        </select>
                                                        <span class="text-danger" asp-validation-for="FkCategory"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Store</label>
                                                        <select asp-for="FkStore" class="form-control"
                                                                asp-items="ViewBag.IdStore">
                                                            <option value="">--- Select Store ---</option>
                                                        </select>
                                                        <span class="text-danger" asp-validation-for="FkStore"></span>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Preci</label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="ti-money"></i></div>
                                                            <input type="text" class="form-control" asp-for="Price" placeholder="153">
                                                            <span class="text-danger" asp-validation-for="Price"></span>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Quantity</label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="ti-cut"></i></div>
                                                            <input type="text" class="form-control" asp-for="Quantity" placeholder="36%">
                                                            <span class="text-danger" asp-validation-for="Quantity"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <h3 class="box-title m-t-40">Descripción del Producto</h3>
                                            <div class="row">
                                                <div class="col-md-6 ">
                                                    <div class="form-group">
                                                        <textarea class="form-control" asp-for="Description" rows="4"></textarea>
                                                        @*<span class="text-danger" asp-validation-for="Description"></span>*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h3 class="box-title m-t-20">Imagen</h3>
                                                    <div class="product-img">
                                                        @if (@ViewBag.isExit)
                                                        {
                                                            <img src="~/Images/Inventory/@Model.Image" alt="@Model.NameInventory" width="100" />
                                                        }
                                                        else
                                                        {
                                                            <img src="~/Images/Inventory/avatar.png" alt="AVATAR" width="100" />
                                                        }
                                                        <div class="fileupload btn btn-info waves-effect waves-light">
                                                            <span>
                                                                <i class="ion-upload m-r-5"></i>Subir otra imagen
                                                            </span>
                                                            <input type="file" asp-for="Image" name="upload">
                                                            @*<span class="text-danger" asp-validation-for="Image"></span>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-actions text-lg-right">
                                                <button type="submit" class="btn btn-success">
                                                    <i class="fa fa-check"></i>
                                                    Guardar
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ===== Page-Container-End ===== -->
            <footer class="footer t-a-c">
                Copyrigth © 2021 GestShop by Point ITS.
            </footer>
        </div>
        <!-- ===== Page-Content-End ===== -->
    </div>
    <!-- ===== Main-Wrapper-End ===== -->
    <!-- ==============================
        Required JS Files
    =============================== -->
    <!-- ===== jQuery ===== -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- ===== Bootstrap JavaScript ===== -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- ===== Slimscroll JavaScript ===== -->
    <script src="~/js/jquery.slimscroll.js"></script>
    <!-- ===== Wave Effects JavaScript ===== -->
    <script src="~/js/waves.js"></script>
    <!-- ===== Menu Plugin JavaScript ===== -->
    <script src="~/js/sidebarmenu.js"></script>
    <!-- ===== Custom JavaScript ===== -->
    <script src="~/js/custom.js"></script>
    <script src="~/plugins/components/datatables/jquery.dataTables.min.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>

    <!-- end - This is for export functionality only -->
    <!-- ===== Plugin JS ===== -->
    <script src="~/plugins/components/chartist-js/dist/chartist.min.js"></script>
    <script src="~/plugins/components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="~/plugins/components/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/plugins/components/sparkline/jquery.charts-sparkline.js"></script>
    <script src="~/plugins/components/knob/jquery.knob.js"></script>
    <script src="~/plugins/components/easypiechart/dist/jquery.easypiechart.min.js"></script>
    <script src="~/js//db1.js"></script>
    <script src="~/plugins/components/dropify/dist/js/dropify.min.js"></script>
    <!-- ===== Style Switcher JS ===== -->
    <script src="~/plugins/components/styleswitcher/jQuery.style.switcher.js"></script>

    <script>
        $(function () {
            $('#myTable').DataTable();

            var table = $('#example').DataTable({
                "columnDefs": [{
                    "visible": false,
                    "targets": 2
                }],
                "order": [
                    [2, 'asc']
                ],
                "displayLength": 25,
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({
                        page: 'current'
                    }).nodes();
                    var last = null;
                    api.column(2, {
                        page: 'current'
                    }).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                            last = group;
                        }
                    });
                }
            });

            // Basic
            $('.dropify').dropify();
            // Translated
            $('.dropify-es').dropify({
                messages: {
                    default: 'Arrastra y suelta un archivo aquí o haz clic',
                    replace: 'Arrastre y suelte un archivo o haga clic para reemplazar',
                    remove: 'Eliminar',
                    error: 'Lo sentimos, el archivo es demasiado grande'
                }
            });
            // Used events
            var drEvent = $('#input-file-events').dropify();
            drEvent.on('dropify.beforeClear', function (event, element) {
                return confirm("Realmente desea eliminar la imagen \"" + element.file.name + "\" ?");
            });
            drEvent.on('dropify.afterClear', function (event, element) {
                alert('Imagen eliminada');
            });
            drEvent.on('dropify.errors', function (event, element) {
                console.log('Has Errors');
            });
            var drDestroy = $('#input-file-to-destroy').dropify();
            drDestroy = drDestroy.data('dropify')
            $('#toggleDropify').on('click', function (e) {
                e.preventDefault();
                if (drDestroy.isDropified()) {
                    drDestroy.destroy();
                } else {
                    drDestroy.init();
                }
            })
        });
    </script>
</body>

</html>
 
   

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
